body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}

.App{
  /* width: 1280px; */
  /* margin: 0 auto; */
}
h1{
  color: #ffff57;
  font-size: 3em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
}
button:hover{
  color: #fff;
  border-color: #fff;;
}

.combinedContainer {
  text-align: left;
  padding-top: 2px;
  padding-left: 6px;
}

.content{
  text-align: left;
  margin-left: 400px; /* Same as the width of the sidebar */
  padding: 0px 10px;  
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


.card{
  padding: 0px 16px;
  background: #1b1b1b;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-bottom: 1em;
}

.sidebarContainer {
}

.deployVersion input {
  font-size: 20px;
  border-radius: 25px;
  width: 6em;
  height: 1.6em;
  border: 2px solid #609;  
  padding-left: 1em;
  outline: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: .5em; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 6px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: #35373e;
  margin-bottom: 30px;
}

.deployVersion {
  padding-top: 1em;
  clear: both;
  text-align: center;
}

button#deploy {
  background-color: gray;
  color: black;
  font-size: 16px;
  padding: .5em;
  border-radius: 16px;
}

button#deploy:hover {
  color: white;
}

.sidenav .card {
  padding-left: 6px;
}

.cards {
  clear: both;
}


.releases .card {
  float: left
}

.pagination {
  clear: both;
}

.card p{
  margin: 6px 0;
  color: #999;
}
.card h3{
  margin: 10px 0;
  color: #ffff57;
}
button:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}
ul.none {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  font-weight: 200;
}
.changelog ul {
  list-style: none;
  padding: 0;
}


.changelog ul li {
  padding-bottom: .5em;
}

.tests {
  padding-left: .5em;  
}

.selectRelease {
  margin-left: 1.5em;    
  transform:scale(2, 2);
}

.date, .time {
  padding-right: .5em;
}

.date {
  padding-top: .2em;
  font-size: 12px;
}


button.active {
  border-color: yellow;
  outline: none;
}

.dependencyId {
  width: 10em;
}

.center {
  text-align:center;  
}

.dependencyTag {
  width: 5em;
}

.navButtons {
  text-align: left
}

.navBar {
  padding-bottom: 1em;
}

.title {
  color: yellow;
}

.box{
  width: 300px;
  height: 50px;
}

.container{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  font-size: 14pt;
}

.container .icon {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1;
  color: #4f5b66;
  font-size: 14pt;
}

.container input#search:hover, .container input#search:focus, .container input#search:active{
  outline:none;
  background: #ffffff;
  color: black;
}

.container input#search {
  display: block;  
  width: 300px;
  height: 50px;
  background: #35373e;
  border: none;
  font-size: 14pt;
  font-weight: 400;
  float: left;
  color: silver;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    
  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}